# ───────────── Python Bytecode-lar ─────────────
__pycache__/
*.py[cod]
*$py.class

# ───────────── Virtual Environment ─────────────
venv/
.venv/
env/
.env
.env.*

# ───────────── IDE və Sistem Faylları ─────────────
.vscode/
.idea/
.DS_Store
Thumbs.db

# ───────────── Log və Temp Faylları ─────────────
*.log
*.tmp

# ───────────── DB və Metadata Faylları ─────────────
*.sqlite3
*.db
*.egg-info/

# ───────────── Build və Distribution Faylları ─────────────
build/
dist/
*.whl

# ───────────── Docker və Installer Faylları ─────────────
cudnn-local-repo-ubuntu2004-8.9.0.131_1.0-1_amd64.deb
.dockerignore

# ───────────── Transcribe və Media Faylları ─────────────
archive/*
!/archive/index.html
wav_segments/*

# ───────────── Test və Lokal Scriptlər ─────────────
test-gpu.sh
servicepy.txt
